<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.10.1, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/bta-logo-134x134.png" type="image/x-icon">
    <meta name="description" content="Website Creator Description">

    <title>Home Page</title>
    <link rel="stylesheet" href="~/Content/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="~/Content/assets/tether/tether.min.css">
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/Content/assets/animatecss/animate.min.css">
    <link rel="stylesheet" href="~/Content/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="~/Content/assets/theme/css/style.css">
    <link rel="stylesheet" href="~/Content/assets/mobirise/css/mbr-additional.css" type="text/css">



</head>
<body>
    <section class="menu cid-rrQwBPI8Lc" once="menu" id="menu1-3">

        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="https://mobirise.co">
                            <img src="~/Content/assets/images/bta-logo-134x134.png" alt="Mobirise" title="" style="height: 60px;">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap">
                        <a class="navbar-caption text-primary display-4" @*href="https://mobirise.co"*@>
                            BUSINESS TRIP ADVISOR
                        </a>
                    </span>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-white display-7" @*href="https://mobirise.co"*@>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-7" @*href="https://mobirise.co"*@>
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link link text-white display-7" href="https://mobirise.co"><span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>Home</a></li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-7" @*href="https://mobirise.co"*@>
                            <span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>

                            Life in different countries
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-7" @*href="https://mobirise.co"*@>
                            <span class="mbri-briefcase mbr-iconfont mbr-iconfont-btn"></span>

                            Accommodation
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-7" @*href="https://mobirise.co"*@>
                            <span class="mbri-globe mbr-iconfont mbr-iconfont-btn"></span>

                            Enjoy your travel
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-7" @*href="https://mobirise.co"*@>
                            <span class="mbri-help mbr-iconfont mbr-iconfont-btn"></span>

                            Feedback
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
    </section>

    @RenderBody()

    <script src="~/Content/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/popper/popper.min.js"></script>
    <script src="~/Content/assets/tether/tether.min.js"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/smoothscroll/smooth-scroll.js"></script>
    <script src="~/Content/assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="~/Content/assets/viewportchecker/jquery.viewportchecker.js"></script>
    <script src="~/Content/assets/parallax/jarallax.min.js"></script>
    <script src="~/Content/assets/dropdown/js/script.min.js"></script>
    <script src="~/Content/assets/theme/js/script.js"></script>


    <input name="animation" type="hidden">
</body>

@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
